<?xml version='1.0' encoding='utf-8'?>
<widget id="io.codova.check" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>모바일 기기 상태 체크</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <!-- this hook will point your config.xml to the DevServer on Serve -->
    <hook type="after_prepare" src="../node_modules/vue-cli-plugin-cordova/serve-config-hook.js" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <preference name="SplashMaintainAspectRatio" value="true"/>
        <preference name="SplashShowOnlyFirstTime" value="true"/>
        <icon density="ldpi" src="res/icon/android/ldpi.png"/>
        <icon density="mdpi" src="res/icon/android/mdpi.png"/>
        <icon density="hdpi" src="res/icon/android/hdpi.png"/>
        <icon density="xhdpi" src="res/icon/android/xhdpi.png"/>
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png"/>
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png"/>
        <!--  Portrait  -->
        <splash density="port-ldpi" src="res/screen/android/splash-port-ldpi.png"/>
        <splash density="port-mdpi" src="res/screen/android/splash-port-mdpi.png"/>
        <splash density="port-hdpi" src="res/screen/android/splash-port-hdpi.png"/>
        <splash density="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png"/>
        <splash density="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png"/>
        <splash density="port-xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png"/>
        <!--  Landscape  -->
        <!-- 
                <splash density="land-ldpi" src="res/screen/android/splash-land-ldpi.png"/>
                <splash density="land-mdpi" src="res/screen/android/splash-land-mdpi.png"/>
                <splash density="land-hdpi" src="res/screen/android/splash-land-hdpi.png"/>
                <splash density="land-xhdpi" src="res/screen/android/splash-land-xhdpi.png"/>
                <splash density="land-xxhdpi" src="res/screen/android/splash-land-xxhdpi.png"/>
                <splash density="land-xxxhdpi" src="res/screen/android/splash-land-xxxhdpi.png"/>
                -->
    </platform>
</widget>
